[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
sanic-cors = "*"
attrs = "*"
cattrs = "*"
marshmallow = "*"
marshmallow-enum = "*"

[dev-packages]
"flake8" = "*"
"flake8-quotes" = "*"
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"
coverage = "*"
aiohttp = "*"
"flake8-deprecated" = "*"
"flake8-mutable" = "*"
"flake8-builtins" = "*"
"flake8-comprehensions" = "*"
"flake8-bugbear" = "*"
"flake8-tuple" = "*"
"flake8-blind-except" = "*"
"flake8-class-newline" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"
"pep8-naming" = "*"
"flake8-invalid-escape-sequences" = "*"
"flake8-alfred" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
