[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
sanic-cors = "*"

[dev-packages]
"flake8" = "*"
"flake8-quotes" = "*"
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"
coverage = "*"
aiohttp = "*"

[requires]
python_version = "3.6"
