:root {
  --color-light-border: #888888;
  --color-dark-border: #455496;
}

.table-style {
  border-collapse: collapse;
}

.cell {
  background-color: white;
  border-top: var(--color-light-border) solid 1px;
  border-bottom: var(--color-light-border) solid 1px;
  border-left: var(--color-light-border) solid 1px;
  border-right:  var(--color-light-border) solid 1px;
  vertical-align: middle;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
}

.cell.c1 {
  border-top: var(--color-dark-border) solid 2px;
  border-left: var(--color-dark-border) solid 2px;
}

.cell.c2 {
  border-top: var(--color-dark-border) solid 2px;
}

.cell.c3 {
  border-top: var(--color-dark-border) solid 2px;
  border-right: var(--color-dark-border) solid 2px;
}

.cell.c4 {
  border-left: var(--color-dark-border) solid 2px;
}

.cell.c5 {
  /*This is here so we can generate iterative cells (c1, c2, c3, c4 ...)*/
}

.cell.c6 {
  border-right: var(--color-dark-border) solid 2px;
}

.cell.c7 {
  border-bottom: var(--color-dark-border) solid 2px;
  border-left: var(--color-dark-border) solid 2px;
}

.cell.c8 {
  border-bottom: var(--color-dark-border) solid 2px;
}

.cell.c9 {
  border-bottom: var(--color-dark-border) solid 2px;
  border-right: var(--color-dark-border) solid 2px;
}

.cell-input {
  background: white;
  display: block;
  font-family: 'Lora', serif;
  border-collapse: collapse;
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
  font-size: 300%
}

.cell-input.noinput {
  background: lightgrey;
}
